
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}
.container{
    width: 1200px;
    margin: auto;
    h2{
        padding-top: 10px;
        margin-bottom: 25px;
        text-align: center;
    }
}
.user-details{
    background-color: #13053c;
    color:  white;
}
.input-form{
    padding: 30px 20px;
    text-align: center;
    background-image: linear-gradient(#3a3a9f, #202020);
    box-shadow: 5px 5px 36px 2px white;
    border-radius: 20px;
    input{
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        margin: 10px;
        height: 35px;
        width: 500px;
        vertical-align: middle;
    }
    textarea{
        width: 455px;
        margin: 10px;
        border-radius: 5px;
        vertical-align: middle;
        resize: none;
    }
    .image-input{
        border: none;
        width: 440px;

    }
    .submit-button{
        width: 100px;
    }
    .fullname{
        color: black;
    }
}
.validity{
    color: rgb(191, 255, 0);
}
.greetings{
    color: yellow;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding-block: 40px;
}
.marks-table{
    padding-block: 10px;
    text-align: center;
    table{
        color: white;
        width: 600px;
        margin: auto; 
        text-align: center;
    }
    table,td{
        border: 1px solid white;
        border-collapse: collapse;
    }
    td{
        padding: 10px;
    }
}
.error{
    color: red;
    font-size: 14px;
}
.logout{
  margin-block: 5px;
  display: inline-block;
  :hover{
      cursor: pointer;
  }
  input{
      padding: 10px;
      margin-block: 5px;
  }
}
